*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    color: #1F2533;
}

.container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 20px;
}

ul , ol{
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}