.header {
  box-shadow: 0px 4px 12px rgba(207, 207, 207, 0.25);
  min-height: 72px;
  &_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    .nav__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 20px;
      color: #70737c;
      &__link {
        color: #70737c;
        &:hover {
          color: green;
        }
      }
      &__item:nth-child(1) {
        border-right: 1px solid #efefef;
        padding-inline: 16px;
      }
      &__item:nth-child(8) {
        border-right: 1px solid #efefef;
        padding-inline: 16px;
      }
      &__item:nth-child(3) {
        border-right: 1px solid #efefef;
        padding-inline: 16px;
        margin-right: 16px;
      }
    }
  }
  .header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .search_section {
      display: flex;
      align-items: flex-start;
      border: 1px solid #efefef;
      border-radius: 71px;
      padding: 16px 24px;
      &__input {
        border: none;
        padding-left: 10px;
        font: {
          size: 14px;
          weight: 400;
        }
      }
    }
    .favorite__btn {
      border: none;
      border-radius: 50%;
      min-height: 40px;
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .basket__btn {
      border: none;
      border-radius: 50%;
      min-height: 40px;
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .header__menu {
    display: none;
  }
  @media screen and (max-width: 1109px) {
    .header__navigation {
      display: none;
    }
    .header__menu {
      display: flex;
      align-items: center;
    }
  }
  @media screen and (max-width: 560px) {
    .instagram_link {
      display: none;
    }
    .facebook__link {
      display: none;
    }
  }
  @media screen and (max-width: 490px) {
    .search_section {
      display: none !important;
    }
    .favorite__btn {
      border: 1px solid #efefef !important;
      display: flex;
      
    }
    .basket__btn {
      border: 1px solid #efefef !important;
    }
  }
}
.intro__section {
  margin-top: 32px;
  margin-bottom: 16px;
  background-color: #eaf1eb;
  padding-block: 50px;
  padding-left: 70px;
  border-radius: 25px;
  background-image: url(/assets/images/main_section/header_bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;
    max-width: 650px;
    .intro__text {
      text-align: left;
      .text_title {
        color: #1f2533;
        font-weight: 600;
        padding-bottom: 10px;
        font-size: 48px;
      }
      .text_subtitle {
        color: #1f2533;
      }
    }
    .intro__cost {
      display: flex;
      align-items: center;
      gap: 20px;
      .cost__reaction {
        width: 28px;
        height: 35px;
      }
      .real__cost {
        color: #70737c;
      }
    }
    .intro__btn {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      .adding_btn {
        background-color: #359740;
        border-radius: 8px;
        max-width: 150px;
        min-height: 50px; 
        padding: 11px 32px;  
        font-weight: 500;
        color: white;
        &:hover{
          background-color: #286B30;
        }
      }
      .discover_btn {
        background-color: #ffffff;
        border-radius: 8px;
        max-width: 150px;
        min-height: 50px;
        padding: 11px 32px;
        font-weight: 500;
        color: #359740;
        &:hover{
          color: #FFFF;
          background-color: #DDDCDC;
        }
      }
    }
  }
  .main__product_img {
    width: 300px;
    height: 300px;
    filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.41));
  }
  @media screen and (max-width: 980px) {
    display: flex;
    flex-flow: column;
    padding: 20px;
    rotate: 180deg;
    &_text{
        rotate: 180deg;
    }
    .main__product_img{
      rotate: 180deg;
      width: 270px;
      height: 270px;  
    }
    .text_section{
        display: flex;
        flex-direction: column-reverse;
        .reduced__cost{color: #E55C5C;}
    }
    .text_title{
        font-size: 28px !important;
    }
    
  }
  @media screen and (max-width: 375px) {
    padding-inline: 20px;
    
    .intro__text{
        min-width: 100px !important;    
     .text_title{
        font-size: 20px !important;
        }
        
        .adding_btn{
            padding: 11px 10px !important;
        }
    }
    .main__product_img{
        width: 230px;
        height: 230px;  
      }
  }
}
.subintro__section{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  background-color: #ffeaad; 
  border-radius: 12px;
  min-height: 102px;
  position: relative;
  &_text{
    padding: 30px 10px;
    margin: 0 auto;
    .subintro__subtitle{
      color: #70737c;
    }
  }
  .sub_bgimg_2{
    border-bottom-right-radius: 12px;
  }
  .subbgmobile{
    display: none;
  }
  @media screen and (max-width: 923px) {
    
    .sub_bgimg_1{
      display: none;
    }
    .sub_bgimg_2{
      display: none;
    }
    .subbgmobile{
      display: block;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      max-width: 90px;
      width: 100%;
    }
    .subintro__subtitle{
      font-size: 13px;
    }
  }
}
.product__section{
  margin-block: 50px;
  .section__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .psh_title{
      font-size: calc(16px + 20 * (100vw / 1150));
    }
    .psh_btn{
      border: 1px solid #EFEFEF;
      border-radius: 8px;
      max-width: 155px;
      width: calc(127px + 28 * (100vw / 1150));
      height: calc(45px + 10 * (100vw / 1150));
      &:hover{
        border-color: #FFCF55;
        .btn_title{
          color: #FFCF55;
        }
      }
      .btn_title{
        color: #359740;
      }
    }
  }
  .product__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 50px;
    gap: 10px;
    .product__types{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 1px solid #EFEFEF;
      border-radius: 8px;
      min-width: 110px;
      height: calc(57px + 15 * (100vw / 1150));
      padding-inline: 20px;
      column-gap: 10px;
      &:hover{
        border-color: green;
        .types__name{
          color: green;
        }
      }
    }
    @media screen and (max-width: 1075px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: 1010px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: 830px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    @media screen and (max-width: 670px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (max-width: 510px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }


  }
  .products_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-inline: 15px;
      .products{
    
    &__card{
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-between;
      
      border: 1px solid #EFEFEF;
      border-radius: 8px;
      position: relative;
      padding: 30px;
      max-width: 330px;
      width: 100%;
      min-height: 512px;
      height: 100%;
      .product_part_img{
        margin-bottom: 30px;
      }
      .to_favorite_btn{
        background-color: #FFF;
        position: absolute;
        top: 1%;
        right: 1%;
        border: 1px solid #EFEFEF;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        &:hover{
          border-color: #FFCF55;
          transition: 0.3s;
          .to_favorite{
            fill: #FFCF55;
            transition: 0.3s;
          }
        }
        .to_favorite{
          fill: transparent;
          stroke: #FFCF55;
          padding-top: 4px;
        }
      }
      .product__info{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 10px;
        .product_rating{
          display: flex;
          .product_number{
            padding-left: 13px;
            color: #70737c;
          }
        }
        .product_cost{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .to_basket_btn{
            border: 1px solid #EFEFEF;
            border-radius: 8px;
            width: 48px;
            height: 48px;
            &:hover{
              transition: 0.3s;
              border-color: #FFCF55;
              .bskt_icon{
                fill: #FFCF55;
                path{
                  fill: #FFCF55;
                }
              }
            }
            .bskt_icon{
              fill: green;
            }
          }
        }
      }
    }
    }
    @media screen and (max-width: 1096px ) {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      .products__card{
        max-width: 500px ;
        width: 100%;
      }
    }
    @media screen and (max-width: 744px ) {
      grid-template-columns: 1fr;
      .products__card{
        max-width: 700px ;
        width: 100%;
        .product_part_img{
          width: 260px;
          height: 260px;
        }
      }
    }
    @media screen and (max-width: 360px) {
      .products__card{
        max-width: 300px;
        width: 100%;
        .product_part_img{
          margin-bottom: 60px;
          width: 230px;
          height: 230px;
        }
        
        
      }
    }
  }
}
.blog_section{
  margin-block: 50px;
  .section__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bsh_title{
      font-size: calc(16px + 20 * (100vw / 1110));
    }
    .bsh_btn{
      border: 1px solid #EFEFEF;
      border-radius: 8px;
      max-width: 173px;
      width: calc(160px + 13 * (100vw / 1110));
      height: calc(47px + 4 * (100vw / 1110));
      &:hover{
        border-color: #FFCF55;
        .btn_title{
          color: #FFCF55;
        }
      }
      .btn_title{
        color: #359740;
      }
    }
  }
  .blog_content{
    margin-block: 50px;
    gap: 30px;
    display: grid;
    .content_main{
      display: grid;
      grid-column: 1/ span 2;
      grid-row: 1/2;
      max-width: 730px;
      width: 100%;
      min-height: 300px;
      border-radius: 12px;
      padding:30px;
      background-color: #EAF1EB;
      background-image: url(/assets/images/blog_section/spinach.png);
      background-size: calc(120px + 100 * (100vw / 1150));
      background-repeat: no-repeat;
      background-position: bottom right;
      .planting_instruction{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .time_section{
          display: flex;
          align-items: center; 
          gap: 10px;
          padding-bottom: 10px;
          .time{color: #70737c;}
        }
        .instruction_text{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 20px;
          &_subtitle{
            color: #70737c;
          }
          .read{
            border: 1px solid #FFF;
            border-radius: 8px;
            max-width: 106px;
            width: 100%;
            min-height: 51px;
            height: 100%;
            background-color: #FFF;
            color: green;
            &:hover{
              border-color: green;
            }
          }
        }
      }
      @media screen and (max-width: 575px) {
         min-height: 400px;
      }
    }
    .content_aside{
      display: grid;
      grid-column: 3/ span 4;
      grid-row: 1/3;
      max-width: 350px;
      width: 100%;
      min-height: calc(400px + 130 * (100vw / 1150));
      padding: 30px;
      border-radius: 12px;
      background-color: #EFF2F8;
      background-image: url(/assets/images/blog_section/female-gardener.png);
      background-size: calc(110px + 90 * (100vw / 1150));
      background-repeat: no-repeat;
      background-position: right bottom;
      .planting_instruction{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .time_section{
          display: flex;
          align-items: center; 
          gap: 10px;
          padding-bottom: 10px;
          .time{color: #70737c;}
        }
        .instruction_text{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 20px;
          &_subtitle{
            color: #70737c;
          }
          .read{
            border: 1px solid #FFF;
            border-radius: 8px;
            max-width: 106px;
            width: 100%;
            min-height: 51px;
            height: 100%;
            background-color: #FFF;
            color: green;
            &:hover{
              border-color: green;
            }
          }
        }
      }
      @media screen and (max-width: 580px) {
        min-height: 450px !important;
     }
    }
    .content_article{
      max-width: 350px;
      width: 100%;
      min-height: 300px;
      padding: 30px;
      border-radius: 12px;
      background-color: #EFF2F8;
      background-image: url(/assets/images/blog_section/strawberry.png);
      background-size: calc(140px + 40 * (100vw / 1150));
      background-repeat: no-repeat;
      background-position: right bottom;
      .planting_instruction{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .time_section{
          display: flex;
          align-items: center; 
          gap: 10px;
          padding-bottom: 10px;
          .time{color: #70737c;}
        }
        .instruction_text{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 20px;
          &_subtitle{
            color: #70737c;
          }
          .read{
            border: 1px solid #FFF;
            border-radius: 8px;
            max-width: 106px;
            width: 100%;
            min-height: 51px;
            height: 100%;
            background-color: #FFF;
            color: green;
            &:hover{
              border-color: green;
            }
          }
        }
      }
    }
    .content_article_2{
      max-width: 350px;
      width: 100%;
      min-height: 300px;
      padding: 30px;
      border-radius: 12px;
      background-color: #EFF2F8;
      background-image: url(/assets/images/blog_section/strawberry.png);
      background-size: calc(140px + 40 * (100vw / 1150));
      background-repeat: no-repeat;
      background-position: right bottom;
      .planting_instruction{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .time_section{
          display: flex;
          align-items: center; 
          gap: 10px;
          padding-bottom: 10px;
          .time{color: #70737c;}
        }
        .instruction_text{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 20px;
          &_subtitle{
            color: #70737c;
          }
          .read{
            border: 1px solid #FFF;
            border-radius: 8px;
            max-width: 106px;
            width: 100%;
            min-height: 51px;
            height: 100%;
            background-color: #FFF;
            color: green;
            &:hover{
              border-color: green;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1000px) {
      .content_main{
        max-width: 1000px;
        width: 100%;
        display: grid !important;
        
      }
      .content_aside{
        display: grid !important;
        grid-column: 1/ span 2 !important;
        grid-row: 2/3 !important;
        max-width: 1000px;
        width: 100%;
        min-height: 400px;
      }
      .content_article{
        max-width: 455px;
        width: 100%;
        display: grid;
        grid-column: 1/ 1;
        grid-row: 3/4;
      }
      .content_article_2{
        max-width: 455px;
        width: 100%;
        display: grid;
        grid-column: 2/ 2;
        grid-row: 3/4 ;
      }
    }
    @media screen and (max-width: 612px) {
      .content_article{
        display: grid;
        grid-column: 1/ 3;
        grid-row: 3/4;
        max-width: 600px;
        width: 100%;
      }
      .content_article_2{
        display: grid;
        grid-column: 1/ 3;
        grid-row: 4/5 ;
        max-width: 600px;
        width: 100%;
      }
    }
  }
}
.clients_section{
  &_header{
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 375px) {
      .csh_title{
        font-size: 26px
      }  
    }
  }
  &_content{
    margin-block: 50px;
    display: grid;
    gap: 15px;
    .csc_item_1{
      display: grid;
      grid-column: 1/ 2;
      border: 1px solid #EFEFEF;
      border-radius: 12px;
      padding: 30px;
      max-width: 400px;
      min-height: 350px;
      box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
      .clients_info_section{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 24px;
        .clients_name_section{
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          gap: 5px;
          .clients_name{
            font-weight: 700;
            font-size: 16px;
          }
          .time{
            color: #70737c;
          }
        }
        @media screen and (max-width: 403px) {
          display: grid;
          gap: 10px;

        }
      }
      .rating_section{
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
      }
      .clients_opinion_section{
        padding-top: 20px;
      }
      @media screen and (max-width: 1000px) {
        display: grid;
        grid-column: 1/ 2;
        max-width: 546px;
        width: 100%;
      }
      @media screen and (max-width: 763px) {
        display: grid;
        grid-column: 1/ 3;
        max-width: 760px;
        width: 100%;
      }
    }
    .csc_item_2{
      display: grid;
      grid-column: 2/ 3;
      border: 1px solid #EFEFEF;
      border-radius: 12px;
      padding: 30px;
      max-width: 400px;
      min-height: 350px;
      box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
      .clients_info_section{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 24px;
        .clients_name_section{
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          gap: 5px;
          .clients_name{
            font-weight: 700;
            font-size: 16px;
          }
          .time{
            color: #70737c;
          }
        }
        @media screen and (max-width: 403px) {
          display: grid;
          gap: 10px;

        }
      }
      .rating_section{
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
      }
      .clients_opinion_section{
        padding-top: 20px;
      }
      @media screen and (max-width: 1000px) {
        display: grid;
        grid-column: 2/ 3;
        max-width: 546px;
        width: 100%;
      }
      @media screen and (max-width: 763px) {
        display: grid;
        grid-column: 1/ 3;
        max-width: 760px;
        width: 100%;
      }
    }
    .csc_item_3{
      display: grid;
      grid-column: 3/ 4;
      border: 1px solid #EFEFEF;
      border-radius: 12px;
      padding: 30px;
      max-width: 400px;
      min-height: 350px;
      box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
      .clients_info_section{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 24px;
        .clients_name_section{
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          gap: 5px;
          .clients_name{
            font-weight: 700;
            font-size: 16px;
          }
          .time{
            color: #70737c;
          }
        }
        @media screen and (max-width: 403px) {
          display: grid;
          gap: 10px;

        }
      }
      .rating_section{
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
      }
      .clients_opinion_section{
        padding-top: 20px;
      }
      @media screen and (max-width: 1000px) {
        display: grid;
        grid-column: 1/ 3;
        grid-row: 3;
        max-width: 1000px;
        width: 100%;
      }
    }
  }
}