.header {
  box-shadow: 0px 4px 12px rgba(207, 207, 207, 0.25);
  min-height: 72px;
}
.header_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
}
.header_section .nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  color: #70737c;
}
.header_section .nav__list__link {
  color: #70737c;
}
.header_section .nav__list__link:hover {
  color: green;
}
.header_section .nav__list__item:nth-child(1) {
  border-right: 1px solid #efefef;
  padding-inline: 16px;
}
.header_section .nav__list__item:nth-child(2) {
  border-right: 1px solid #efefef;
  padding-inline: 16px;
}
.header_section .nav__list__item:nth-child(3) {
  border-right: 1px solid #efefef;
  padding-inline: 16px;
  margin-right: 16px;
}
.header .header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header .header__search .search_section {
  display: flex;
  align-items: flex-start;
  border: 1px solid #efefef;
  border-radius: 71px;
  padding: 16px 24px;
}
.header .header__search .search_section__input {
  border: none;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
}
.header .header__search .favorite__btn {
  border: none;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__search .basket__btn {
  border: none;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__menu {
  display: none;
}
@media screen and (max-width: 1109px) {
  .header .header__navigation {
    display: none;
  }
  .header .header__menu {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 560px) {
  .header .instagram_link {
    display: none;
  }
  .header .facebook__link {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  .header .search_section {
    display: none !important;
  }
  .header .favorite__btn {
    border: 1px solid #efefef !important;
    display: flex;
  }
  .header .basket__btn {
    border: 1px solid #efefef !important;
  }
}

.intro__section {
  margin-top: 32px;
  margin-bottom: 16px;
  background-color: #eaf1eb;
  padding-block: 50px;
  padding-left: 70px;
  border-radius: 25px;
  background-image: url(/assets/images/main_section/header_bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro__section_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 21px;
  max-width: 650px;
}
.intro__section_text .intro__text {
  text-align: left;
}
.intro__section_text .intro__text .text_title {
  color: #1f2533;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 48px;
}
.intro__section_text .intro__text .text_subtitle {
  color: #1f2533;
}
.intro__section_text .intro__cost {
  display: flex;
  align-items: center;
  gap: 20px;
}
.intro__section_text .intro__cost .cost__reaction {
  width: 28px;
  height: 35px;
}
.intro__section_text .intro__cost .real__cost {
  color: #70737c;
}
.intro__section_text .intro__btn {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.intro__section_text .intro__btn .adding_btn {
  background-color: #359740;
  border-radius: 8px;
  max-width: 150px;
  min-height: 50px;
  padding: 11px 32px;
  font-weight: 500;
  color: white;
}
.intro__section_text .intro__btn .adding_btn:hover {
  background-color: #286B30;
}
.intro__section_text .intro__btn .discover_btn {
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 150px;
  min-height: 50px;
  padding: 11px 32px;
  font-weight: 500;
  color: #359740;
}
.intro__section_text .intro__btn .discover_btn:hover {
  color: white;
  background-color: #DDDCDC;
}
.intro__section .main__product_img {
  width: 300px;
  height: 300px;
  filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.41));
}
@media screen and (max-width: 980px) {
  .intro__section {
    display: flex;
    flex-flow: column;
    padding: 20px;
    rotate: 180deg;
  }
  .intro__section_text {
    rotate: 180deg;
  }
  .intro__section .main__product_img {
    rotate: 180deg;
    width: 270px;
    height: 270px;
  }
  .intro__section .text_section {
    display: flex;
    flex-direction: column-reverse;
  }
  .intro__section .text_section .reduced__cost {
    color: #E55C5C;
  }
  .intro__section .text_title {
    font-size: 28px !important;
  }
}
@media screen and (max-width: 375px) {
  .intro__section {
    padding-inline: 20px;
  }
  .intro__section .intro__text {
    min-width: 100px !important;
  }
  .intro__section .intro__text .text_title {
    font-size: 20px !important;
  }
  .intro__section .intro__text .adding_btn {
    padding: 11px 10px !important;
  }
  .intro__section .main__product_img {
    width: 230px;
    height: 230px;
  }
}

.subintro__section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  background-color: #ffeaad;
  border-radius: 12px;
  min-height: 102px;
  position: relative;
}
.subintro__section_text {
  padding: 30px 10px;
  margin: 0 auto;
}
.subintro__section_text .subintro__subtitle {
  color: #70737c;
}
.subintro__section .sub_bgimg_2 {
  border-bottom-right-radius: 12px;
}
.subintro__section .subbgmobile {
  display: none;
}
@media screen and (max-width: 923px) {
  .subintro__section .sub_bgimg_1 {
    display: none;
  }
  .subintro__section .sub_bgimg_2 {
    display: none;
  }
  .subintro__section .subbgmobile {
    display: block;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    max-width: 90px;
    width: 100%;
  }
  .subintro__section .subintro__subtitle {
    font-size: 13px;
  }
}

.product__section {
  margin-block: 50px;
}
.product__section .section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__section .section__header .psh_title {
  font-size: calc(16px + 1.7391304348vw);
}
.product__section .section__header .psh_btn {
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  max-width: 155px;
  width: calc(127px + 2.4347826087vw);
  height: calc(45px + 0.8695652174vw);
}
.product__section .section__header .psh_btn:hover {
  border-color: #FFCF55;
}
.product__section .section__header .psh_btn:hover .btn_title {
  color: #FFCF55;
}
.product__section .section__header .psh_btn .btn_title {
  color: #359740;
}
.product__section .product__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 50px;
  gap: 10px;
}
.product__section .product__btns .product__types {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  min-width: 110px;
  height: calc(57px + 1.3043478261vw);
  padding-inline: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.product__section .product__btns .product__types .types__name {
  font-size: calc(12px + 0.2702702703vw);
}
.product__section .product__btns .product__types:hover {
  border-color: green;
}
.product__section .product__btns .product__types:hover .types__name {
  color: green;
}
@media screen and (max-width: 1075px) {
  .product__section .product__btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1010px) {
  .product__section .product__btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 830px) {
  .product__section .product__btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 670px) {
  .product__section .product__btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 510px) {
  .product__section .product__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.product__section .products_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-inline: 15px;
}
.product__section .products_content .products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  position: relative;
  padding: 30px;
  max-width: 330px;
  width: 100%;
  min-height: 512px;
  height: 100%;
}
.product__section .products_content .products__card .product_part_img {
  margin-bottom: 30px;
}
.product__section .products_content .products__card .to_favorite_btn {
  background-color: #FFF;
  position: absolute;
  top: 1%;
  right: 1%;
  border: 1px solid #EFEFEF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.product__section .products_content .products__card .to_favorite_btn:hover {
  border-color: #FFCF55;
  transition: 0.3s;
}
.product__section .products_content .products__card .to_favorite_btn:hover .to_favorite {
  fill: #FFCF55;
  transition: 0.3s;
}
.product__section .products_content .products__card .to_favorite_btn .to_favorite {
  fill: transparent;
  stroke: #FFCF55;
  padding-top: 4px;
}
.product__section .products_content .products__card .product__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
}
.product__section .products_content .products__card .product__info .product_rating {
  display: flex;
}
.product__section .products_content .products__card .product__info .product_rating .product_number {
  padding-left: 13px;
  color: #70737c;
}
.product__section .products_content .products__card .product__info .product_cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.product__section .products_content .products__card .product__info .product_cost .to_basket_btn {
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  width: 48px;
  height: 48px;
}
.product__section .products_content .products__card .product__info .product_cost .to_basket_btn:hover {
  transition: 0.3s;
  border-color: #FFCF55;
}
.product__section .products_content .products__card .product__info .product_cost .to_basket_btn:hover .bskt_icon {
  fill: #FFCF55;
}
.product__section .products_content .products__card .product__info .product_cost .to_basket_btn:hover .bskt_icon path {
  fill: #FFCF55;
}
.product__section .products_content .products__card .product__info .product_cost .to_basket_btn .bskt_icon {
  fill: green;
}
@media screen and (max-width: 1096px) {
  .product__section .products_content {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  .product__section .products_content .products__card {
    max-width: 500px;
    width: 100%;
  }
}
@media screen and (max-width: 744px) {
  .product__section .products_content {
    grid-template-columns: 1fr;
  }
  .product__section .products_content .products__card {
    max-width: 700px;
    width: 100%;
  }
  .product__section .products_content .products__card .product_part_img {
    width: 260px;
    height: 260px;
  }
}
@media screen and (max-width: 360px) {
  .product__section .products_content .products__card .product_part_img {
    margin-bottom: 60px;
    width: 220px;
    height: 230px;
  }
}

.blog_section {
  margin-block: 50px;
}
.blog_section .section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog_section .section__header .bsh_title {
  font-size: calc(16px + 1.8018018018vw);
}
.blog_section .section__header .bsh_btn {
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  max-width: 173px;
  width: calc(160px + 1.1711711712vw);
  height: calc(47px + 0.3603603604vw);
}
.blog_section .section__header .bsh_btn:hover {
  border-color: #FFCF55;
}
.blog_section .section__header .bsh_btn:hover .btn_title {
  color: #FFCF55;
}
.blog_section .section__header .bsh_btn .btn_title {
  color: #359740;
}
.blog_section .blog_content {
  margin-block: 50px;
  gap: 30px;
  display: grid;
}
.blog_section .blog_content .content_main {
  display: grid;
  grid-column: 1/span 2;
  grid-row: 1/2;
  max-width: 730px;
  width: 100%;
  min-height: 300px;
  border-radius: 12px;
  padding: 30px;
  background-color: #EAF1EB;
  background-image: url(/assets/images/blog_section/spinach.png);
  background-size: calc(120px + 8.6956521739vw);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.blog_section .blog_content .content_main .planting_instruction {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog_section .blog_content .content_main .planting_instruction .time_section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.blog_section .blog_content .content_main .planting_instruction .time_section .time {
  color: #70737c;
}
.blog_section .blog_content .content_main .planting_instruction .instruction_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
.blog_section .blog_content .content_main .planting_instruction .instruction_text_subtitle {
  color: #70737c;
}
.blog_section .blog_content .content_main .planting_instruction .instruction_text .read {
  border: 1px solid #FFF;
  border-radius: 8px;
  max-width: 106px;
  width: 100%;
  min-height: 51px;
  height: 100%;
  background-color: #FFF;
  color: green;
}
.blog_section .blog_content .content_main .planting_instruction .instruction_text .read:hover {
  border-color: green;
}
@media screen and (max-width: 575px) {
  .blog_section .blog_content .content_main {
    min-height: 400px;
  }
}
.blog_section .blog_content .content_aside {
  display: grid;
  grid-column: 3/span 4;
  grid-row: 1/3;
  max-width: 350px;
  width: 100%;
  min-height: calc(400px + 11.3043478261vw);
  padding: 30px;
  border-radius: 12px;
  background-color: #EFF2F8;
  background-image: url(/assets/images/blog_section/female-gardener.png);
  background-size: calc(110px + 7.8260869565vw);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.blog_section .blog_content .content_aside .planting_instruction {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog_section .blog_content .content_aside .planting_instruction .time_section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.blog_section .blog_content .content_aside .planting_instruction .time_section .time {
  color: #70737c;
}
.blog_section .blog_content .content_aside .planting_instruction .instruction_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
.blog_section .blog_content .content_aside .planting_instruction .instruction_text_subtitle {
  color: #70737c;
}
.blog_section .blog_content .content_aside .planting_instruction .instruction_text .read {
  border: 1px solid #FFF;
  border-radius: 8px;
  max-width: 106px;
  width: 100%;
  min-height: 51px;
  height: 100%;
  background-color: #FFF;
  color: green;
}
.blog_section .blog_content .content_aside .planting_instruction .instruction_text .read:hover {
  border-color: green;
}
@media screen and (max-width: 580px) {
  .blog_section .blog_content .content_aside {
    min-height: 450px !important;
  }
}
.blog_section .blog_content .content_article {
  max-width: 350px;
  width: 100%;
  min-height: 300px;
  padding: 30px;
  border-radius: 12px;
  background-color: #EFF2F8;
  background-image: url(/assets/images/blog_section/strawberry.png);
  background-size: calc(140px + 3.4782608696vw);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.blog_section .blog_content .content_article .planting_instruction {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog_section .blog_content .content_article .planting_instruction .time_section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.blog_section .blog_content .content_article .planting_instruction .time_section .time {
  color: #70737c;
}
.blog_section .blog_content .content_article .planting_instruction .instruction_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
.blog_section .blog_content .content_article .planting_instruction .instruction_text_subtitle {
  color: #70737c;
}
.blog_section .blog_content .content_article .planting_instruction .instruction_text .read {
  border: 1px solid #FFF;
  border-radius: 8px;
  max-width: 106px;
  width: 100%;
  min-height: 51px;
  height: 100%;
  background-color: #FFF;
  color: green;
}
.blog_section .blog_content .content_article .planting_instruction .instruction_text .read:hover {
  border-color: green;
}
.blog_section .blog_content .content_article_2 {
  max-width: 350px;
  width: 100%;
  min-height: 300px;
  padding: 30px;
  border-radius: 12px;
  background-color: #EFF2F8;
  background-image: url(/assets/images/blog_section/strawberry.png);
  background-size: calc(140px + 3.4782608696vw);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.blog_section .blog_content .content_article_2 .planting_instruction {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog_section .blog_content .content_article_2 .planting_instruction .time_section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.blog_section .blog_content .content_article_2 .planting_instruction .time_section .time {
  color: #70737c;
}
.blog_section .blog_content .content_article_2 .planting_instruction .instruction_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
.blog_section .blog_content .content_article_2 .planting_instruction .instruction_text_subtitle {
  color: #70737c;
}
.blog_section .blog_content .content_article_2 .planting_instruction .instruction_text .read {
  border: 1px solid #FFF;
  border-radius: 8px;
  max-width: 106px;
  width: 100%;
  min-height: 51px;
  height: 100%;
  background-color: #FFF;
  color: green;
}
.blog_section .blog_content .content_article_2 .planting_instruction .instruction_text .read:hover {
  border-color: green;
}
@media screen and (max-width: 1000px) {
  .blog_section .blog_content .content_main {
    max-width: 1000px;
    width: 100%;
    display: grid !important;
  }
  .blog_section .blog_content .content_aside {
    display: grid !important;
    grid-column: 1/span 2 !important;
    grid-row: 2/3 !important;
    max-width: 1000px;
    width: 100%;
    min-height: 400px;
  }
  .blog_section .blog_content .content_article {
    max-width: 455px;
    width: 100%;
    display: grid;
    grid-column: 1/1;
    grid-row: 3/4;
  }
  .blog_section .blog_content .content_article_2 {
    max-width: 455px;
    width: 100%;
    display: grid;
    grid-column: 2/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 612px) {
  .blog_section .blog_content .content_article {
    display: grid;
    grid-column: 1/3;
    grid-row: 3/4;
    max-width: 600px;
    width: 100%;
  }
  .blog_section .blog_content .content_article_2 {
    display: grid;
    grid-column: 1/3;
    grid-row: 4/5;
    max-width: 600px;
    width: 100%;
  }
}

.clients_section_header {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 375px) {
  .clients_section_header .csh_title {
    font-size: 26px;
  }
}
.clients_section_content {
  margin-block: 50px;
  display: grid;
  align-items: start;
  gap: 15px;
}
.clients_section_content .csc_item_1 {
  display: grid;
  grid-column: 1/2;
  border: 1px solid #EFEFEF;
  border-radius: 12px;
  padding: 30px;
  max-width: 400px;
  min-height: 350px;
  box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
}
.clients_section_content .csc_item_1 .clients_info_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.clients_section_content .csc_item_1 .clients_info_section .clients_name_section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}
.clients_section_content .csc_item_1 .clients_info_section .clients_name_section .clients_name {
  font-weight: 700;
  font-size: 16px;
}
.clients_section_content .csc_item_1 .clients_info_section .clients_name_section .time {
  color: #70737c;
}
@media screen and (max-width: 403px) {
  .clients_section_content .csc_item_1 .clients_info_section {
    display: grid;
    gap: 10px;
  }
}
.clients_section_content .csc_item_1 .rating_section {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}
.clients_section_content .csc_item_1 .clients_opinion_section {
  padding-top: 20px;
}
@media screen and (max-width: 1000px) {
  .clients_section_content .csc_item_1 {
    display: grid;
    grid-column: 1/2;
    max-width: 546px;
    width: 100%;
  }
}
@media screen and (max-width: 763px) {
  .clients_section_content .csc_item_1 {
    display: grid;
    grid-column: 1/3;
    max-width: 760px;
    width: 100%;
  }
}
.clients_section_content .csc_item_2 {
  display: grid;
  grid-column: 2/3;
  border: 1px solid #EFEFEF;
  border-radius: 12px;
  padding: 30px;
  max-width: 400px;
  min-height: 350px;
  box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
}
.clients_section_content .csc_item_2 .clients_info_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.clients_section_content .csc_item_2 .clients_info_section .clients_name_section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}
.clients_section_content .csc_item_2 .clients_info_section .clients_name_section .clients_name {
  font-weight: 700;
  font-size: 16px;
}
.clients_section_content .csc_item_2 .clients_info_section .clients_name_section .time {
  color: #70737c;
}
@media screen and (max-width: 403px) {
  .clients_section_content .csc_item_2 .clients_info_section {
    display: grid;
    gap: 10px;
  }
}
.clients_section_content .csc_item_2 .rating_section {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}
.clients_section_content .csc_item_2 .clients_opinion_section {
  padding-top: 20px;
}
@media screen and (max-width: 1000px) {
  .clients_section_content .csc_item_2 {
    display: grid;
    grid-column: 2/3;
    max-width: 546px;
    width: 100%;
  }
}
@media screen and (max-width: 763px) {
  .clients_section_content .csc_item_2 {
    display: grid;
    grid-column: 1/3;
    max-width: 760px;
    width: 100%;
  }
}
.clients_section_content .csc_item_3 {
  display: grid;
  grid-column: 3/4;
  border: 1px solid #EFEFEF;
  border-radius: 12px;
  padding: 30px;
  max-width: 400px;
  min-height: 350px;
  box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
}
.clients_section_content .csc_item_3 .clients_info_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.clients_section_content .csc_item_3 .clients_info_section .clients_name_section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}
.clients_section_content .csc_item_3 .clients_info_section .clients_name_section .clients_name {
  font-weight: 700;
  font-size: 16px;
}
.clients_section_content .csc_item_3 .clients_info_section .clients_name_section .time {
  color: #70737c;
}
@media screen and (max-width: 403px) {
  .clients_section_content .csc_item_3 .clients_info_section {
    display: grid;
    gap: 10px;
  }
}
.clients_section_content .csc_item_3 .rating_section {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}
.clients_section_content .csc_item_3 .clients_opinion_section {
  padding-top: 20px;
}
@media screen and (max-width: 1000px) {
  .clients_section_content .csc_item_3 {
    display: grid;
    grid-column: 1/3;
    grid-row: 3;
    max-width: 1000px;
    width: 100%;
  }
}

.about_seedra_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_seedra_section .information__part {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 521px;
  min-height: 505px;
}
.about_seedra_section .information__picture_img {
  width: 500px;
  align-self: center;
}
@media screen and (max-width: 1029px) {
  .about_seedra_section {
    flex-direction: column;
    gap: 0px;
  }
  .about_seedra_section .information__part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    max-width: 1000px;
    min-height: 300px;
  }
}
@media screen and (max-width: 540px) {
  .about_seedra_section .information__title {
    font-size: calc(16px + 2.962962963vw);
  }
  .about_seedra_section .information__picture_img {
    width: calc(150px + 40.7407407407vw);
  }
}

.footer {
  box-shadow: 0px -7px 80px rgba(189, 189, 189, 0.25);
  min-height: 172px;
}
.footer .footer__section .footer__up {
  min-height: 100px;
  align-items: center;
  border-bottom: 1px solid rgb(189, 224, 198);
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding-block: 20px;
}
.footer .footer__section .footer__up_left .left_nav {
  max-width: 430px;
  display: flex;
  align-items: stretch;
}
.footer .footer__section .footer__up_left .left_nav .nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__section .footer__up_left .left_nav .nav_list .nav__item {
  gap: 32px;
}
.footer .footer__section .footer__up_left .left_nav .nav_list .nav__item_link {
  color: #70737c;
}
.footer .footer__section .footer__up_left .left_nav .nav_list .nav__item_link:hover {
  color: #359740;
}
.footer .footer__section .footer__up_left .left_nav .nav_list .nav__item:nth-child(1) {
  border-right: 1px solid green;
  padding-right: 28px;
}
.footer .footer__section .footer__up_left .left_nav .nav_list .nav__item:nth-child(2) {
  border-right: 1px solid green;
  padding-inline: 20px;
}
.footer .footer__section .footer__up_left .left_nav .nav_list .nav__item:nth-child(3) {
  padding-left: 15px;
}
.footer .footer__section .footer__up_center {
  padding: 0;
  display: flex;
  align-items: stretch;
}
.footer .footer__section .footer__up_right {
  max-width: 282px;
  display: flex;
  align-items: stretch;
}
.footer .footer__section .footer__up_right .right_nav .nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__section .footer__up_right .right_nav .nav_list .nav__item_link {
  color: #70737c;
}
.footer .footer__section .footer__up_right .right_nav .nav_list .nav__item_link:hover {
  color: #359740;
}
.footer .footer__section .footer__up_right .right_nav .nav_list .nav__item:nth-child(1) {
  border-right: 1px solid #286B30;
  padding-right: 16px;
}
.footer .footer__section .footer__up_right .right_nav .nav_list .nav__item:nth-child(2) {
  padding-left: 16px;
}
@media screen and (max-width: 910px) {
  .footer .footer__section .footer__up_left {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    max-width: 435px;
    font-size: 14px;
  }
  .footer .footer__section .footer__up_left .left_nav .nav_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .footer .footer__section .footer__up_left .left_nav .nav_list .nav__item {
    gap: 32px;
  }
  .footer .footer__section .footer__up_left .left_nav .nav_list .nav__item:nth-child(1) {
    border: none;
    padding: 0;
  }
  .footer .footer__section .footer__up_left .left_nav .nav_list .nav__item:nth-child(2) {
    border: none;
    padding: 0;
  }
  .footer .footer__section .footer__up_left .left_nav .nav_list .nav__item:nth-child(3) {
    padding-left: none;
    padding: 0;
  }
  .footer .footer__section .footer__up_center {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    padding-bottom: 20px;
  }
  .footer .footer__section .footer__up_right {
    font-size: 14px;
    display: grid;
    grid-column: 6;
    grid-row: 2;
  }
  .footer .footer__section .footer__up_right .right_nav .nav_list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start !important;
    flex-direction: column;
    gap: 10px;
  }
  .footer .footer__section .footer__up_right .right_nav .nav_list .nav__item:nth-child(1) {
    border-right: 0;
    padding: 0;
  }
  .footer .footer__section .footer__up_right .right_nav .nav_list .nav__item:nth-child(2) {
    padding: 0;
  }
}
.footer .footer__section .footer__down {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-block: 30px;
}
.footer .footer__section .footer__down_left .instagram_link {
  padding-right: 10px;
}
.footer .footer__section .footer__down_right .fdr_link {
  color: #70737c;
}
.footer .footer__section .footer__down_right .fdr_link:hover {
  color: #359740;
}/*# sourceMappingURL=style.css.map */